/*UNIVERSAL STYLING*/
body {
	-webkit-font-smoothing: antialiased;
}
ul, li {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
a {
	text-decoration: none;
}
.container {
	text-align: center;
	width:80%;
	margin: 0 auto;
}
.uppercase {
	text-transform: uppercase;
}
.indent {
	text-indent: 1em;
}

/*HEADER*/

#topBar {
	width:100%;
	height: 100px;
	background: url('img/top-bar.jpg');
}
#topBar .container {
	padding-top: 10px;
}
#topBarLogo {
	width:140px;
	float:left;
}
#topBarLogo img{
	width:140px;
}
#topBarText {
	width:450px;
	float:left;
}
#topBarText h2 {
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 22px;
	font-weight: 700;
	color:#4c4c4c;
}
#topBarSocial {
	float:left;
}
#topBarSocial img {
	padding-top: 15px;
	width:24px;
}
#topBarContact {
	float:left;
	margin-left: 40px;
}

#topBarContact h2 {
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 22px;
	font-weight: 700;
	color:#4c4c4c;	
}
#topBarPortal {
	float:left;
	margin-left: 40px;
	width:150px;
}
#topBarPortal h3 {
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	color:#dc5721;
	font-weight: 400;
	padding:7px;
	border:2px solid #dc5721;
	border-radius: 20px;
}

#navBar {
	width:100%;
	height: 50px;
	background-color: #6276b8;
}
#navBar ul li{
	display: inline-block;
	padding:15px 50px 0;
}
#navBar #navHome{
	width:20px;
	padding-top: 12px;
	float: left;
}
#navBar ul li a {
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 18px;
	color:#fff;
}
/*#navBar li {
    background:url('img/vertical_line-icon.png') no-repeat top left;
    padding-left: 10px;
    padding-top:20px;
}*/


#heroImage {
	width:100%;
	height:500px;
	/*background:url('img/banner.jpg');*/
}
#heroImage img {
	
}

#main {
	width:100%;
	background-color:#fff;
	margin: 0 auto;
}
#main h1 {
	padding-top: 40px;
	padding-left: 80px;
	margin-top: 0;
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 38px;
	color:#fff;
}
#main p {
	width:480px;
	padding-left: 80px;
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 16px;
	line-height: 1.75em;
	color:#fff;
}
#welcomeSection {
	height:387px;
	width:655px;
	margin:0 auto;
	background:url('img/blue-box.jpg') no-repeat top center;
}
.meetSection {
	width:80%;
	height:400px;
	margin: 0 auto;
}
#meetText {
	float:left;
	height:100%;
	width:655px;
	height:400px;
	margin:0 auto;
	background:url('img/blue-box-1.jpg') no-repeat top center;
}
#meetImage {
	float:left;
	margin-right:40px;
}
#meetImage img {
	height:400px;
}



#policySection {
	height:1000px;
	width:72%;
	margin:0 auto;
	background:url('img/policy-box.jpg') no-repeat top center;
}
#policySection h1 {
	color:#6d81bf;
}
#policySection p {
	color:#535353;
	width:80%;
}
#hoursSection {
	height:300px;
	width:60%;
	margin:80px auto 0;
	text-align: center;
	background:#fff;
	border-bottom:1px solid #6d81bf;
}
#hoursSection h1 {
	float:left;
	padding-left:20px;
	color:#6d81bf;
}
#hoursSection p {
	color:#535353;
	width:80%;
}
#hoursIcon,
#hoursSchedule {
	float:left;
	width:50%
}
#hoursIcon {
	margin-top: 50px;
}
#hoursIcon img {
	vertical-align: top;
	float:left;
	padding-top: 20px;
	padding-right: 20px;
}
#hoursSchedule table {
	width:100%;
	font-family: 'Quattrocento Sans', sans-serif;
	font-size:16px;
	text-transform: uppercase;
	text-align: left;
	color:#535353;
}
#hoursSchedule table td {
	padding-bottom: 1em
}
#hoursSchedule table td.timeSlot {
	color:#5780bf;
	padding-left: 20px;
}
#plansSection {
	width:60%;
	height:700px;
	text-align: center;
	margin: 0 auto;
	border-bottom:1px solid #6d81bf;
}
#plansSection h1,
#contactSection h1 {
	padding-left: 0;
	color:#6d81bf;
}
#plansProviders {
	display:inline-block;
	text-align: left;
	width:250px;
}
#plansSection ul li {
	line-height: 1.5em;
	padding-bottom: 10px;
	margin-bottom: 20px;
	font-family: 'Quattrocento Sans', sans-serif;
	font-size:16px;
	color:#525252;
	border-bottom:1px solid #525252;
}

#contactSection {
	width:100%;
	height:700px;
	text-align: center;
	margin: 0 auto;
}
.contactDivs {
	width:700px; 
	height:250px;
	margin:0 auto;
	text-align: center;
}
.contactBlock {
	display:block;
	float:left;
	width:220px;
	height:200px;
	margin:0 1px;
	padding:20px 0;
	background: url('img/policy-box.jpg');
}
.contactBlock img {
	margin-bottom:15px;
}
.contactPhone img {
	margin-bottom: 30px;
}
.contactBlock h6 {
	font-family: 'Quattrocento Sans', sans-serif;
	font-size:18px;
	font-weight: 300;
	margin:10px auto;
	color:#525252;
}
.contactBlock h3 {
	width:50%;
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	color:#dc5721;
	background:#fff;
	font-weight: 400;
	padding:7px;
	margin: 30px auto;
	border:2px solid #dc5721;
	border-radius: 20px;
}

.contactChecker {
	width:50%;
	margin: 0 auto;
	text-align: center;
}
.contactCheckerButton {
	display:inline-block;
	width:250px;
	margin: 0 20px;
}

.contactChecker h2 {
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color:#fff;
	background:#6276b8;
	font-weight: 400;
	padding:15px;
	margin: 30px auto;
	border-radius: 25px;
}

#sponsorSection {
	width:30%;
	height:150px;
	margin:0 auto;
	border-radius: 8px;
	background:#EFF6F7;
	text-align: center;
}

#sponsorSection img {
	float:left;
	padding-top: 40px;
	padding-left: 30px;
	padding-right: 40px;
	width:110px;
}
#sponsorSection h6 {
	padding-top: 40px;
	margin-bottom: 10px;
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 14px;
	color:#525252;
}
#sponsorSection button {
	width:110px;
	padding:7px 10px;
	border:none;
	border-radius: 5px;
	background:#dc5721;
}
#sponsorSection button a {
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 14px;
	color:#fff;
	text-transform: uppercase;
	font-weight: 700;
}

footer {
	padding-top: 10px;
	bottom:0;
	width:100%;
	height:150px;
	background: #444444;
}
footer .container {
	text-align:left;
}
#footerContent {
	height:90px;
}
#footerContent img {
	float:left;
	width:100px;
	margin-right: 30px;
}

#footerContent p {
	width:450px;
	font-size: 14px;
}
#footerCopyright {
	float:left;
	width:20%;
}
#footerCopyright p,
#footerCredits p {
	font-size: 12px;
}
#footerCredits {
	float:right;
	width:20%;
}