/*
Theme Name: drborchman
Theme URI: http://beta.drborchman.com/
Author: eMagid
Author URI: http://emagid.com/
Description: Borchman Theme
*/



/**
 * Table of Contents
 *
 * 1.0 - Normalize
 */


/**
 * 1.0 - Normalize
 *
 * Resetting and rebuilding styles have been helped along thanks to the fine
 * work of Eric Meyer, Nicolas Gallagher, Jonathan Neal, and Blueprint.
 */

 /*! normalize.css v3.0.2 | MIT License | git.io/normalize */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}






/*UNIVERSAL STYLING*/
body {
	overflow-x:hidden;
	-webkit-font-smoothing: antialiased;
}
ul, li {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
a {
	text-decoration: none;
}
.container {
	text-align: center;
	width:80%;
	margin: 0 auto;
}
.uppercase {
	text-transform: uppercase;
}
.indent {
	text-indent: 1em;
}
.fixed {
	position: fixed; 
	top: 0; 
	height: 50px; 
	z-index: 1;
}

/*HEADER*/

#topBar {
	width:100%;
	height: 100px;
	background: url('images/top-bar.jpg');
}
#topBar .container {
	padding-top: 10px;
}
#topBarLogo {
	width:140px;
	float:left;
}
#topBarLogo img{
	width:140px;
}
#topBarText {
	width:450px;
	float:left;
}
#topBarText h2 {
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 22px;
	font-weight: 700;
	color:#4c4c4c;
}
#topBarSocial {
	float:left;
}
#topBarSocial img {
	padding-top: 15px;
	width:24px;
}
#topBarContact {
	float:left;
	margin-left: 40px;
}

#topBarContact h2 {
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 22px;
	font-weight: 700;
	color:#4c4c4c;	
}
#topBarPortal {
	float:left;
	margin-left: 40px;
	width:150px;
}
#topBarPortal h3 {
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	color:#dc5721;
	font-weight: 400;
	padding:7px;
	border:2px solid #dc5721;
	border-radius: 20px;
}

@media (max-width: 1225px) {
	#topBar .container,
	#navBar .container {
	width:90%;
	}
	#navBar .container {
		text-align: left;
	}
}
@media (max-width: 1090px) {
	#topBarText, #topBarSocial, #topBarContact {
	display:none;
	}
	#topBarPortal {
		float:right;
	}
}



#navBar {
	width:100%;
	height: 50px;
	background-color: #6276b8;
}
#navBar ul li{
	display: inline-block;
	padding:15px 30px 0;
}
#navBar #navHome{
	width:120px;
	padding-top: 12px;
	float: left;
}
#navBar ul li a {
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 18px;
	color:#fff;
}
@media (max-width: 1000px) {
	#navBar #navHome{
	width:0;
	}
}
@media (max-width: 910px) {
	#topBarPortal{
	display:none;
	}
}




#heroImage {
	width:100%;
	margin-bottom:-4px;
}
#heroImage img {
	width:100%;
}
#main {
	width:100%;
	background-color:#fff;
	margin: 0 auto;
}
#main h1 {
	padding-top: 40px;
	padding-left: 80px;
	margin-top: 0;
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 38px;
	color:#fff;
}
#main p {
	width:480px;
	padding-left: 80px;
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 16px;
	line-height: 1.75em;
	color:#fff;
}
#welcomeSection {
	height:387px;
	width:655px;
	margin:0 auto;
	background:url('images/blue-box.jpg') no-repeat top center;
}

.meetSection {
	position:relative;
	width:100%;
	height:400px;
	text-align: center;
}

#meetText {
	display:inline-block;
	text-align: left;
	height:100%;
	width:655px;
	height:400px;
	background:url('images/blue-box-1.jpg') no-repeat top center;
	margin-left: -34px;
}

#meetImage {
	display:inline-block;
	vertical-align: top;
}
#meetImage img {
	height:400px;
}





#policySection {
	height:100%;
	width:72%;
	margin:0 auto;
	background:url('images/policy-box.jpg') no-repeat top center;
	background-size: 100%;
}
#policySection h1 {
	color:#6d81bf;
}
#policySection p {
	color:#535353;
	width:80%;
}



#hoursSection {
	min-height:400px;
	width:60%;
	margin:40px auto 0;
	text-align: center;
	background:#fff;
	border-bottom:1px solid #6d81bf;
}
#hoursSection h1 {
	float:left;
	padding-left:20px;
	color:#6d81bf;
}
#hoursSection p {
	color:#535353;
	width:80%;
}
#hoursIcon,
#hoursSchedule {
	float:left;
	width:50%
}
#hoursIcon {
	margin-top: 50px;
}
#hoursIcon img {
	vertical-align: top;
	float:left;
	padding-top: 20px;
	padding-right: 20px;
}
#hoursSchedule table {
	width:100%;
	font-family: 'Quattrocento Sans', sans-serif;
	font-size:16px;
	text-transform: uppercase;
	text-align: left;
	color:#535353;
}
#hoursSchedule table td {
	padding-bottom: 0.5em
}
#hoursSchedule table td.timeSlot {
	color:#5780bf;
	padding-left: 20px;
}
#hoursSchedule table td.timeSlot p {
	line-height: 0em;
	padding-left: 0px;
	color:#5780bf;
}
#plansSection {
	width:60%;
	/*height:700px;*/
	height:100%;
	text-align: center;
	margin: 0 auto;
	/*border-bottom:1px solid #6d81bf;*/
}
#plansSection h1,
#contactSection h1 {
	padding-left: 0;
	color:#6d81bf;
}
#plansProviders {
	display:inline-block;
	text-align: left;
	width:250px;
}
#plansProviders li p{
	color:#525252;
	padding-left: 0;
	line-height: 0em;
}
#plansSection ul li {
	line-height: 1.5em;
	padding-bottom: 10px;
	margin-bottom: 20px;
	font-family: 'Quattrocento Sans', sans-serif;
	font-size:16px;
	color:#525252;
	border-bottom:1px solid #525252;
}

#contactSection {
	width:100%;
	height:800px;
	text-align: center;
	margin: 0 auto;
}
.contactDivs {
	width:700px; 
	height:250px;
	margin:0 auto;
	text-align: center;
}
.contactBlock {
	display:block;
	float:left;
	width:220px;
	height:200px;
	margin:0 1px;
	padding:20px 0;
	background: url('images/policy-box.jpg');
}
.contactBlock img {
	margin-bottom:15px;
}
.contactPhone img {
	margin-bottom: 30px;
}
.contactBlock h6 {
	font-family: 'Quattrocento Sans', sans-serif;
	font-size:18px;
	font-weight: 300;
	margin:10px auto;
	color:#525252;
}
.contactBlock h3 {
	width:50%;
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	color:#dc5721;
	background:#fff;
	font-weight: 400;
	padding:7px;
	margin: 30px auto;
	border:2px solid #dc5721;
	border-radius: 20px;
}
/*#contactSection > div.contactDivs > div:nth-child(3) > span > span > div > p {
	width:0;
}*/
/*#contactSection > div.contactDivs > div:nth-child(3) > span > span > div > p > a > img {
	 display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url('images/map-icon.png') no-repeat;
  width: 50px;  Width of new image 
  height: 50px;  Height of new image 
  padding-left: 50px;  Equal to width of new image 
}*/

.contactChecker {
	width:50%;
	margin: 0 auto;
	text-align: center;
}
.contactCheckerButton {
	display:inline-block;
	width:250px;
	margin: 0 20px;
}

.contactChecker h2 {
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color:#fff;
	background:#6276b8;
	font-weight: 400;
	padding:15px;
	margin: 30px auto;
	border-radius: 25px;
}

#sponsorBox {
	width:30%;
	height:150px;
	margin:0 auto;
	border-radius: 8px;
	background:#EFF6F7;
	text-align: center;
}

#sponsorBox img {
	float:left;
	padding-top: 40px;
	padding-left: 30px;
	padding-right: 40px;
	width:110px;
}
#sponsorBox h6 {
	padding-top: 40px;
	margin-bottom: 10px;
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 14px;
	color:#525252;
}
#sponsorBox button {
	width:110px;
	padding:7px 10px;
	border:none;
	border-radius: 5px;
	background:#dc5721;
}
#sponsorBox button a {
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 14px;
	color:#fff;
	text-transform: uppercase;
	font-weight: 700;
}

footer {
	padding-top: 10px;
	bottom:0;
	width:100%;
	height:150px;
	background: #444444;
	font-family: 'Quattrocento Sans', sans-serif;
	color:#fff;
}
footer .container {
	text-align:left;
}
#footerContent {
	height:90px;
}
#footerContent img {
	float:left;
	width:100px;
	margin-right: 30px;
}

#footerContent p {
	width:450px;
	font-size: 14px;
}
#footerCopyright {
	float:left;
	width:40%;
}
#footerCopyright p,
#footerCredits p {
	font-size: 12px;
}
#footerCredits {
	float:right;
	width:20%;
}

#responsive-menu #responsive-menu-title {
	padding-bottom: 0 !important;
}
#responsive-menu {
	height:355px !important;
}
#responsive-menu .RMImage {
	width:140px !important;
}









@media (max-width: 1250px) {
	.meetSection {
		width:100%;
	}
	#policySection {
		width:100%;
		background:#EBEFFA;
	}
}

@media (max-width: 1000px) {
	#meetImage {
		display:none;
	}
	#meetText {
		float:none;
		margin-left: 0;
	}
	#policySection h1 {
		text-align: center;
		padding-left: 0;
	}
	#sponsorBox {
		width:50%;
	}
}
@media (max-width: 840px) {
	#policySection {
		height:100%;
	}
	#hoursSection {
		width:100%;
	}
}
@media (max-width: 655px) {
	#welcomeSection {
		background:#B0BFEA;
		text-align: center;
		width:100%;
	}
	#meetText {
		background:#6D81BE;
		width:100%;
		text-align: center;
	}
	#main h1 {
		padding-left: 0;
	}
	#main p {
		width:97%;
		padding-left: 8px;
	}
	#policySection {
		background:#EBEFFA;
	}
	#policySection p {
		width:97%;
		text-align: center;
	}
	.contactDivs {
		width:100%;
	}
	.contactBlock {
		width:100%;
		background:#EBEFFA;
	}
	span.gmw-shortcode-widget {
		display:none;
	}
	#contactSection > div.contactDivs > div:nth-child(3) {
		padding-top: 0;
	}
	.contactChecker {
		width:100%;
	}
	footer {
		position:fixed;
	}
	footer .container {
		width:100%;
	}
	footer {
		padding-top: 0;
		height:160px;
	}
	#footerContent p{
		font-size: 13px;
	}
	#footerCredits p {
		padding-left: 0;
	}
}
@media (max-width: 500px) {
	#hoursSection {
		margin-top: 0;
		height:500px;
	}
	#hoursIcon,
	#hoursSchedule {
		margin-top:0;
		margin-bottom: 20px;
		width:100%;
	}
	#hoursSchedule table {
		text-align: center;
	}
	#hoursSection h1,
	#hoursSection img {
		float:none;
		padding-right: 0;
		padding-top: 5px;
	}
}